<div class="container">
  <h2>Log In</h2>
  <form (ngSubmit)="signInUser(credentials)" #signInForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="credentials.email" name="email" >
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="credentials.password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Log In</button>
  </form>
</div>
