/* You can add global styles to this file, and also import other style files */
@import './assets/vendors/semantic.min.css';

/*.container {
  width: 100%;
  padding: 0;
}*/

.brand {
  font-size: 3em;
  margin: 25px 0 0 0;
}

.brand a {
  margin-left: 20px;
}

.row {
  width: 100%;
}

.button-right {
  text-align: right;
  padding-top: 8px;
}

.btn-default {
  margin-top: 10px;
}
.logo-image {
  text-align: left;
}
.logo-div {
  margin-top: 5px;
}

.brand-name {
  text-align: right;
}
